<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>
	<p>
      Splurty was built by <a target="_blank" href="http://github.com/Shawydu">Shawy</a> refered the Splurty guide by <a target="_blank" href="http://github.com/MarcoMorawec">Marco</a> &amp; <a target="_blank" href="http://github.com/KenMazaika">Ken</a>. On code learning platform <a target="_blank" href="http://www.thefirehoseproject.com/"> Firehose</a>.
    </p>
    <br />
    <div class="col-xs-12 col-sm-4">
      <%= image_tag 'shawy.jpg', :class => 'img-responsive' %>
    </div>

    <div class="col-xs-12 col-sm-7 col-sm-offset-1">
      <h2 class="text-center">Shawy Du</h2>
      <br />
	  <p>
        Shawy Du is a new graduate from computer engineering, looking for Jr. Web Developer position. He is a strong self-motivate person who has good knowledge of computer knowledge background. Grasp couple of programming language such as C/C++, Java, JavaScript, Ruby and keep learning those web frameworks such as NodeJS, Ruby on Rails. He is ready to begin another journey of his life. Cheers!
      </p>
    </div>
    <br class="clear" />
    <br>
    <br>
    <br>
    <br>
</div>